<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ncu.beanyong.imagedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PrimaryColorsActivity" />
        <activity android:name=".ColorMatrixActivity" />
        <activity android:name=".PixelsActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".CircleImageActivity" />
        <activity android:name=".ShaderCircleActivity" />
        <activity android:name=".MirrorEffectActivity" />
        <activity android:name=".MeshActivity" />
    </application>

</manifest>
